@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
	margin:0px;
	padding: 0px;
}

body{
	background-color: #1b1031;
}

/*NAVBAR CSS*/

#navbar-logo{
width: 10%;
margin-left: 5px;
}



.navbar{
	align-items: center;	
	height: 60px;
	width: 100%;
	background-color: black;

}
.navbar a{
	text-decoration: none;
	justify-content: space-between;
	color:white;	
}


.navbar ul{
	padding: 5px;
	margin-left: 15%;
	overflow: hidden;
	margin-top: 15px;	
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.navbar li{
	margin-left:30px;
  margin-right:30px;
  transition: 0.3s;
}

.navbar li:hover{
	transform: scale(1.2);
	transition: 0.3s;
}

.navbar ul li{	
	list-style-type: none;
	display: inline-block;
}


/*LOGIN NAVBAR CSS*/
.sub-menu {
			position: absolute;
			top: 100%;
			width: 100%;
			transform-origin: top;
			transform: rotateX(-90deg);
			transition: transform 0.3s linear;
			background-color: $yellow;
		}

.menu-item{
	float: right;
	border-color: $transparent-white;
}